@import '~@angular/material/theming';

@include mat-core();

$dark-primary: mat-palette($mat-blue-gray, 800);
$dark-accent:  mat-palette($mat-teal, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

@include angular-material-theme($dark-theme);

.dark-primary-color {
    color: mat-color($dark-primary);
}

.dark-primary-bg-color {
    background-color: mat-color($dark-primary);
}

.dark-accent-color {
    color: mat-color($dark-accent);
}

.dark-accent-bg-color {
    background-color: mat-color($dark-accent);
}

.dark-warn-color {
    color: mat-color($dark-warn);
}

.dark-warn-bg-color {
    background-color: mat-color($dark-warn);
}